<!DOCTYPE html>
<html>
<div class="content" alt="" data-aos="fade-right" data-aos-duration="1800">
    {{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
    {{/if}}
    {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            	<div class="card strpied-tabled-with-hover">
            		<div class="card-header ">
                        <h4 class="card-title">Create New Sayembara</h4>
                        <p class="card-category">Isi form ini untuk membuat artikel baru</p>
                    </div>
                    <div class="card-body cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          						<form method="post" action="/dashboard/createSayembara" enctype="multipart/form-data">
          						    <div class="form-group">
            						    <label>Judul Sayembara</label>
            						    <input type="text" class="form-control" name="judul_sayembara" placeholder="Isi judul sayembara">
          						    </div>
                          <div class="form-group">
                            <label>Topik</label>
                            <input type="text" class="form-control" name="topik" placeholder="ex : Irigasi, Pembangunan, Infrastruktur, Teknologi">
                          </div>
                          <div class="form-group">
                            <label>Deskripsi Singkat</label>
                            <input type="text" class="form-control" name="deskripsi_singkat" placeholder="Deskripsi singkat dari sayembara yang akan ditunjukkan dihalaman depan">
                          </div>
						  <div class="form-group">
						    <label>Deskripsi Sayembara</label>
						    <!-- <input type="text" class="form-control" name="password" placeholder="Isi article yang ingin ditulis">
                             
                             <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ----------


<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/frankhe/pen/MpvWrg" />

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css'>
<style class="cp-pen-styles"></style> -->
<div id="tinymce-form">
    <fieldset class="form-group">
        <textarea 
                class="form-control" 
                id="editor" 
                rows="10" 
                placeholder="Content"
                name="isi_sayembara" 
                v-tinymce-editor="content"></textarea>
    </fieldset>
</div>
<!-- {{ content }} 
</div>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js'></script><script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.4/tinymce.min.js'></script>
<script >$(function() {

    // tinymce directive
    Vue.directive('tinymce-editor',{ 
    twoWay: true,
    bind: function() {
        var self = this;
      tinymce.init({
        selector: '#editor',
        setup: function(editor) {
        
            // init tinymce
            editor.on('init', function() {
                        tinymce.get('editor').setContent(self.value);
          });
          
          // when typing keyup event
          editor.on('keyup', function() {
            
            // get new value
            var new_value = tinymce.get('editor').getContent(self.value);
            
            // set model value
            self.set(new_value)
          });
        }
      });
    },
    update: function(newVal, oldVal) {
        // set val and trigger event
        $(this.el).val(newVal).trigger('keyup');
    }
  
  })

    new Vue({
    el: '#tinymce-form',
    data: {
        content: ''
    }
  })


})
//# sourceURL=pen.js
</script> -->
                          </div>
                          <div class="form-group">
                            <label>Tambahkan Header Foto</label><br>
                            <input type="file" name="file" accept="image/gif, image/jpeg, image/png">
                          </div>
                          <div class="form-group">
                            <label>Dapat berkomentar?</label><br>
                            <div>
                            <input type="radio" id="yes" name="comment" value="true" checked="checked" />
                            <label for="yes">Ya</label>
                            </div>
                            <div>
                            <input type="radio" id="no" name="comment" value="false" />
                            <label for="no">Tidak</label>
                            </div>

                          </div>

						  <button type="submit" class="btn btn-default">Submit</button>
						</form>

                	</div>
        		</div>

        	</div>
    	</div>
	</div>
</div>
</html>