<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/assets/css/style.css">

<div class="content" alt="" data-aos="fade-right" data-aos-duration="1800">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            	<div class="card strpied-tabled-with-hover">
                    <div class="container-lg p-responsive position-relative has-text-centered">
                    <center><img class= "image is-128x128 is-avatar" src="/assets/img/new_logo.png"  ></center>
                    <br>
                    <!-- <center><img class= "image is-192x192 is-avatar imgshadow" src="/assets/img/air.jpg"  alt="" data-aos="fade-up" data-aos-duration="1800">
                    </center><br> -->
                    <p class="text-shadow-dark has-text-centered">{{user.name}}<br>
                    {{user.email}}</p>
                   
                    <a href="#" class="button is-dark is-rounded">Edit profil</a>
                    <br><br>
                	</div>
        		</div>

        	</div>
    	</div>
	</div>
</div>
</html>