<!DOCTYPE html>
<html class="no-js" lang="en">

<body>
    <main class="app-content-sayembara">
        <section class="hero is-fullheight is-intro-sayembara" style="padding-top: 60px;"> 
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered is-reverse-mobile">
                        <div class="column has-text-left" data-aos="fade-right" data-aos-duration="1800">
                            <h1 class="title has-text-white is-size-1">
                                BantuDESA
                            </h1>
                            <p class="has-text-white">
                                BantuDESA merupakan program untuk membangun masa depan Desa
                                yang lebih baik, dengan mengemban berbagai sarana dan prasarana
                                dengan bantuan Teknologi saat ini.
                            </p>
                            <br>
                            <a class="button is-white is-rounded" id="selengkapnya">Selengkapnya</a>
                        </div>
                        <div class="column is-4">
                            <img src="/assets/img/logo-fullputih.png" alt="" data-aos="fade-up" data-aos-duration="1800">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Konten -->
        <section class="hero is-medium is-acara">
            <div class="hero-body">
                <div class="container" data-aos="fade-down" data-aos-duration="1800">
                    <h1 class="title has-text-centered has-text-success" id="acara">Konten</h1>
                    <br>
                    <div class="columns has-equal-heights has-text-centered is-centered" >
                        <div class="column is-4">
                            <div class="box">
                                <img class="image is-192x192" src="/assets/img/SAYAMBARABUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Sayembara Ide</h5>
                                <p>
                                Berikan ide brilianmu dengan mengikuti sayembara ide
                                yang sedang berlangsung saat ini.
                                </p>
                                
                                <a href="/sayembara" class="button is-success is-rounded">Selengkapnya</a>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box">
                                <img class="image is-192x192" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Profil Desa</h5>
                                <p>
                                   Lihat dan kenali lebih dekat identitas desa agar
                                   kamu dapat memberikan inovasi yang lebih baik. 
                                </p>
                              
                                <a href="/profildesa" class="button is-success is-rounded" href="sayembara.html">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
