<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/profil1.css"> 
    <meta name="viewport" content="width=device-width">
    </head>

    <body class="logged-out env-production page-responsive min-width-0 f4 js-scrollnav-listener">
        <main class="app-content-sayembara">
            <section class="hero is-customheight is-intro-sayembara" style="padding-top: 60px;">
                <div class="container-lg p-responsive position-relative has-text-centered text-white">
                    <br><br><br><br>
                    <center><img class= "image is-192x192 is-avatar" src="/assets/img/default-avatar.png"  alt="" data-aos="fade-up" data-aos-duration="1800">
                    </center><br>
                    <!-- <center><img class= "image is-192x192 is-avatar imgshadow" src="/assets/img/air.jpg"  alt="" data-aos="fade-up" data-aos-duration="1800">
                    </center><br> -->
                    <p class="text-shadow-dark has-text-centered">{{user.name}}<br>
                    {{user.email}}</p>
                   <!-- <br> 
                    <a href="#" class="button is-dark is-rounded">Edit profil</a> -->
                </div>
            </section>
        </main><br>
        
        <section>
           <div class="columns has-equal-widths has-text-centered is-centered" data-aos="fade-in" data-aos-duration="1800">
                <div class="column is-2 has-text-centered">
                    <div class="box">
                        <center><img class="image is-64x64" src="http://joints.id/images/index/itday.png" alt="">
                        </center><br>
                        <span class="separator"></span>
                        <h5 class="subtitle">Personal Info</h5>                             
                    </div>
                </div>
                <div class="column is-2">
                    <div class="box">
                        <center><img class="image is-64x64" src="http://joints.id/images/index/techtalk.png" alt="">
                        </center><br>
                        <h5 class="subtitle">Edit profile</h5>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="box">
                        <center><img class="image is-64x64" src="http://joints.id/images/index/kompetisi.png" alt="">
                        <br></center>
                        <h5 class="subtitle">Notification</h5>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="box">
                        <center><img class="image is-64x64" src="http://joints.id/images/index/kompetisi.png" alt="">
                        <br></center>
                        <h5 class="subtitle">Setting</h5>
                    </div>
                </div>
                <div class="column is-2">
                    <div class="box">
                        <center><img class="image is-64x64" src="http://joints.id/images/index/kompetisi.png" alt="">
                        <br></center>
                        <h5 class="subtitle">About</h5>
                    </div>
                </div>
            </div>   
        </section>
    </body>
</html>

