<!DOCTYPE html>
<html class="no-js" lang="en">

<body>


    <!-- Main -->
    <main class="app-content-sayembara">
        <!-- Intro -->
        <section class="hero is-fullheight is-intro-sayembara" style="padding-top: 60px;">
            <!-- Hero content: will be in the middle -->
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-vcentered is-reverse-mobile">
                        <div class="column has-text-left" data-aos="fade-right" data-aos-duration="1800">
                            <h1 class="title has-text-white is-size-1">
                                BantuDESA :
                                <br>
                                Profil Desa
                            </h1>
                            <p class="has-text-white">
                                Kenal lebih dekat desa agar kamu dapat berpartisipasi dan
                                mengetahui apa yang dibutuhkan desa saat ini! Ayo bantu desa
                                untuk menjadi daerah yang berpotensi bagi masa depan berikutnya.
                            </p>
                            <br>
                            <a class="button is-white is-rounded" id="selengkapnya">Lihat daftar desa</a>
                        </div>
                        <div class="column is-4">
                            <img src="/assets/img/pdputih.png" alt="" data-aos="fade-up" data-aos-duration="1800">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <div class="clipping-top"></div> -->
        <!-- acara -->
        <section class="hero is-medium is-acara">
            <div class="hero-body">
                <div class="container" data-aos="fade-down" data-aos-duration="1800">
                    <h1 class="title has-text-centered has-text-success" id="acara">Daftar Desa</h1>
                    <br>
                    <div class="columns has-equal-heights has-text-centered">
                        <div class="column">
                            <div class="box">
                                <img class="image is-72x72" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <span class="separator"></span>
                                <h5 class="subtitle">Bubulak</h5>

                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <img class="image is-72x72" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Situ Gede</h5>

                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <img class="image is-72x72" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Balungbang Jaya</h5>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <img class="image is-72x72" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Semplak</h5>
                            </div>
                        </div>
                        <div class="column">
                            <div class="box">
                                <img class="image is-72x72" src="/assets/img/PDBUL.png" alt="">
                                <br>
                                <h5 class="subtitle">Curug Mekar</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>



        <!-- Sponsor & Media Partner -->
        <section class="hero is-medium">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column has-text-left">
                            <h1 class="title has-text-success">Sponsor</h1>
                        </div>
                        <div class="column has-text-right">
                            <h1 class="title has-text-success">Media Partner</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>


</html>
